$titoli_button: green;
$background: gold;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgba($background, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba($background, 0.5);
    width: 1150px;
}

h1 {
    color: $titoli_button;
    text-align: center;
    padding: 30px;
}

p {
    color: black;
    padding: 30px;
    text-align: center;
}

.button {
    color: $titoli_button;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border: 5px solid orange;
    font-size: 20px;
}
